/* Delivery.module.css */
.container {
  padding: 2rem;
  background-color: rgba(62, 129, 201, 0.6); /* Azul con 60% de opacidad */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centra el contenedor verticalmente y horizontalmente */
  width: calc(100% ); /* Resta el margen derecho del ancho total */
  max-width: 100%; /* Limita el ancho máximo */
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  overflow-y: auto;
}
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .packagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  .packageCard {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
  }
  
  .packageCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .packageTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .packageInfo {
    font-size: 0.9rem;
    color: #777;
  }
  