/* Home.module.css */

.home-container {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  max-width: 1200px; /* Limita el ancho máximo en pantallas grandes */
  margin: 2rem auto; /* Centra el contenedor vertical y horizontalmente */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.sectionsContainer {
  display: flex; /* Activa el modelo Flexbox */
  justify-content: space-between; /* Espacia los elementos horizontalmente */
  align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  overflow-x: hidden; /* Evita barras de desplazamiento horizontales */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.section {
  flex: 1; /* Permite que cada componente ocupe el mismo espacio disponible */
  max-width: 47.9%; /* Limita el ancho máximo de cada componente al 47.9% */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
  
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .sectionsContainer {
    flex-direction: column; /* Cambia a diseño vertical */
  }

  .section {
    max-width: 100%; /* Cada sección ocupa el 100% del ancho */
  }
}
